body{
    background: #4ECDC4;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #556270, #4ECDC4);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #556270, #4ECDC4); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
img{
    display: block;
    margin: auto;
}
table,th,tr,td{
    border: 1px solid #181717;
    min-width: 60%;
    margin: auto;
    font-size: 1em;
}
.text{
    background-color: rgb(239, 16, 16);
}